extends layout

block layout-content
  title #{question_id} 
  .main.container
    .row
      .col-md-6.col-md-offset-3
      div.container.ProblemView
        h1.Banner #{question_title}
        div.Message
          div.Title
            h1 #{question_text}
            h3 #{hashtags}
      div.Message
        form(id="answer" action="#{question_id}" method="post")
          input(type="text", name="answer", value="", placeholder="Answer")
          br
          input(type="submit" value="Submit")
    